<footer class="footer ">
    <div class="c-info">
        © 2025 StayMiles, Inc.
    </div>
    <div class="c-rules">
        <a href="/privacy">privacy</a> &nbsp; &nbsp;
        <a href="/policy">policy</a>    
    </div>
    <div class="socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</footer>