<% layout('layouts/boilerplate.ejs') -%>
    <form action="/signup" method="POST" class="col-6 offset-3 needs-validation" novalidate>
        <h2 class="mt-5"><b>Sign Up StayMiles!</b></h2>
        <div class="form-group mb-2">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" required class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter Email">
        </div>
        <div class="form-group mb-2">
            <label for="exampleInputUsername1">Username</label>
            <input type="text" name="username" required class="form-control" id="username" placeholder="Enter Username">
        </div>
        <div class="form-group mb-2">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" required class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-danger ">Sign Up</button>
    </form>